body {font-family: arial; font-size: 15px; background-image: url("watercolor.jpg");
		background-repeat: no-repeat; background-size: cover;}

#wrapper {width: 1092px; border: 3px solid purple; margin: auto auto;}

	
article {float: right; width: 526px; background-color: #fff;
		padding-top: 10px; padding-bottom: 14px;}

article img {text-align: center;}

article p {font-family: 'Raleway', sans-serif;}

article h2{ font-family: 'Raleway', sans-serif; text-align:center;}
	
ul {list-style: none; padding: 0; margin-top: 70px; padding-left: 10px; }
 
li {
      background-image: url('ac217.gif');
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
	  font-family: 'Raleway', sans-serif;
	  font-size: 15px;
	  padding-top: 10px;
    }

header {font-family: 'Raleway', sans-serif; font-size: 25px; font-weight:bold; text-align: center; width:1092px;
		 background-color: pink; padding-top: 25px; padding-bottom: 30px;}
		
footer {font-family: 'Raleway', sans-serif; font-size: 18px; font-style:bold; text-align: left; width:1092px;
		border-top: 2px solid purple; background-color: #fff; padding-bottom: 14px; clear: both;}
		
			
footer p {padding-right: 40px; padding-left: 40px;}

.footAlign {text-align: left; padding-left: 60px;}

.center {text-align: center; padding: 18px;}
.center img {display: inline-block; margin: 0 auto;}

.leftCol {border-right: 2px solid purple;}

.link {font-weight: bold; font-size: 12px; text-align: center}



	